.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#banner {
  height:20%;
  background-color:#191414;
  margin-top:0px;
}

#body {
  background-color: #eeeeee;
}

#user-album-container {
  margin-right:3%;
  margin-top:2%;
}

#album-filters {
  float:left;
}

#banner-image {
  display: inline-block;
  width:10%;
}

.ui.dropdown>.text {
  margin-left:5px;
}

#sort-dropdown {
  padding-top:3%;
  padding-bottom:3%;
  background-color:#FFFFFF;
  margin-left:5%;
  margin-top:5%;
  border-radius:.28571429rem
}

#artist-filter {
  margin-left:5%;
  margin-top:15%;
}

#filter-header {
  margin-left:5%;
}

.ui.selection.dropdown {
  margin-top:2px;
  margin-left:0px;
}

#login {
  position: absolute;
  top: 25%;
  left: 30%;
  height: 50%;
  width: 43%;
  background-image:url("https://cdn.aarp.net/content/dam/aarp/entertainment/music/2018/02/1140-swedish-clean-your-record-collection-02.imgcache.revc25e47d51060d89f4f39a70b158f10aa.jpg");
  background-repeat:no-repeat;
  border-radius:1%;
  opacity:0.8;
  color:#FFFFFF
}

#login-text {
  background-color:#191414;
  color:#FFFFFF;
}

#playlist-placeholder {
  position: absolute;
  top: 50%;
  left: 36%;
  height: 7%;
  width: 32%;
  background-color:grey;
  color:#FFFFFF;
  opacity:0.3;
  border-radius:2%;
}

#login-button {
  margin-top:8px;
}

#about-icon {
  display:inline-block;
}

#listening-header {
  display:inline-block;
}