.ui.menu:first-child {
    margin-bottom:0px;
}

ui.avatar.image img{
    width:50px;
    height:50px;
    object-fit: cover;
} 

.ui.massive.menu .item {
    color:#FFFFFF;
    flex-direction: inherit;
}
#menu-item:hover{
    background-color:#1DB954;
    color:#FFFFFF;
  }

.ui.massive.menu {
    background-color:#191414;
    border-radius:0;
}

#menu-item-about {
    color:#FFFFFF;
    flex-direction: inherit;
}

#menu-item-about:hover{
    background-color:#1DB954;
    color:#FFFFFF;
}

#login-button {
    color:#FFFFFF;
}

#logout-button:hover {
    background-color:#1DB954;
    color:#FFFFFF
}

#login-button:hover {
    background-color:#1DB954;
    color:#FFFFFF
}

#modal-header {
    background-color:#191414;
    color:#FFFFFF;
}

#submit-button{
    background-color:#1DB954;
    color:#FFFFFF
}