#playlist-container {
  margin-top:15px;
}

.playlist-item {
    width:450px;
    height:45px;
    background-color:#bbb;
}

#playlist-info {
  background-color:white;
  border-radius:10px;
  border:solid;
  border-width:2px;
  border-color:#aaa;
  height:150px;
  width:1210px;
  margin:0 auto;
  margin-top:15px;
}

#playlist-info-image {
  margin-top:15px;
  margin-left:5px;
}

#playlist-info-content {
  margin-top:15px;
}

#playlist-info-button {
  margin-top:15px;
}

#album-header {
  font-size:0.8vw;
}

#playlist-album-container {
  margin-top:1%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color:white;
}

#album-card {
  display:inline-block;
}

#add-to-spotify {
  background-color: #29a84f;
  color:white;
}