#sidebar {
    height:100vh;
}

.ui.search {
    margin-top:15px;
}

#artist-search {
    width:325px;
}

#artist-image {
    width:35px;
    height:35px;
    object-fit: cover;
    cursor: pointer;
}

.ui.search>.results .result:hover {
    cursor: default;
}

#album-slide.item {
     background-color:#696465;
}

#album-image {
    float:left;
    margin-left:25px;
    padding-top: 5px;
    padding-bottom: 5px;
} 

#album-name {
    padding-top:15px;
    display:block;
}

.ui.search>.results {
    margin-left:15px;
}

#clear-button {
    float:left;
    margin-left:15px;
    margin-top:5px;
    background-color:#29a84f;
    color:white;
    border: none;
    border-radius:8px;
    opacity:0.5;
    transition: 0.3s;
}

#clear-button:hover {
    opacity:1;
}

#searchbar-divider {
    margin-top:30px;
}

#preview-modal {
    width:400px;
}

#preview-card {
    width:400px;
}

#recs-button {
    float:right;
    margin-left:15px;
    margin-top:5px;
    background-color:orange;
    color:white;
    border: none;
    border-radius:8px;
}
